* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* This is Header And Banner Section Style */
.header {
    padding: 50px 240px 0px 240px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 130px;


}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 95px;
}

.banner-tittle {
    color: #272727;
    font-size: 80px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;

}

.banner-content {
    max-width: 634px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    padding: 15px;
    border: 0;
}

.banner-flower {
    width: 600px;
}

/* Hot deal sction style */
.hot-deal {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 215px;
}

.hot-deal-tittle {
    color: #272727;
    font-size: 40px;
    margin-bottom: 24px;


}

.hot-deal-content {
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
}

.deal-description {
    margin-bottom: 30px;
}

.hot-deal-flower {
    margin-top: 100px;
    margin-bottom: 100px;
}

.insta {
    margin-top: 130px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.insta-tittle {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}
.box-image{
   gap: 24px;
}