* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* This is Header And Banner Section Style */
.header {
    padding: 50px 240px 0px 240px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 130px;


}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 95px;
}

.banner-tittle {
    color: #272727;
    font-size: 80px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;

}

.banner-content {
    max-width: 634px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    padding: 15px;
    border: 0;
}

.banner-flower {
    width: 600px;
}

/* Feture section */
.feture-box{
    display: flex;
    justify-content: space-around;
}
.box-img{
   text-align:center;
   margin-top: 50px;
}
.box-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.box-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.box-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* Hot deal sction style */
.hot-deal {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 215px;
}

.hot-deal-tittle {
    color: #272727;
    font-size: 40px;
    margin-bottom: 24px;


}

.hot-deal-content {
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
}

.deal-description {
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
}

.hot-deal-flower {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* This is Insta Section */

.insta {
    margin-top: 130px;
    margin-bottom: 128px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;

}

.insta-tittle {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}

.latest-section {
    width: 1440px;
    height: 449px;
    background-image: url("./image/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 128px;
    align-items: center;
}

.latest-tittle {
    text-align: center;

}

.latest-deal {
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding-top: 122px;
}

.coupon {
    margin-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
}

.input-design {
    width: 700px;
    height: 65px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding-left: 22px;
    border-radius: 8px;
    border: 0;
    margin-right: 16px;
}

/* Footer section */

.footer-section {
    background: #111010;
    color: white;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 128px;

}

.style {
    color: #E55473;
}

.footer-tittle {
    font-size: 48px;
    margin-bottom: 24px;
}

.footer-describe {
    margin-bottom: 32px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;

}